<!DOCTYPE html>
<form action='/quizes' method='GET'>
  Buscar pregunta
  <input type="text" name="search" value=""/>
  <input type="submit" value="Buscar"/>
  <br/><br/>
  <hr/>
  <br/>
  <table>
  <% for (var x = 0; x < quizes.length; x++) { %>
      <tr>
        <td><a href='/quizes/<%=quizes[x].id%>'><%=quizes[x].pregunta %></a></td>
        <td><a href='/quizes/<%=quizes[x].id%>'><%=quizes[x].tema %></a></td>
        <td><button><a href='/quizes/<%=quizes[x].id%>/edit'>EDITAR</a></button></td>
      <td>
          <form action='/quizes/<%=quizes[x].id%>?_method=delete' method="post">
            <button type="submit" onclick="return confirm('Estas seguro?')"><a>ELIMINAR</a></button>
          </form>
      </td>
      </tr>
  <% } %>
  </table>
  <a href='/quizes/new'><input type="button" value='Crear Pregunta'/></a>
</form>
