<!DOCTYPE html>
<form action='/quizes/<%= quiz.id %>/answer' methos='get'>
  <div class="div-question">
    <%= quiz.pregunta %>
  </div>
  <div>
    <input type="text" name="answer"/>
  </div>
  <div>
    <input type="submit" value="Enviar"/>
  </div>
  <div>
    <input type="button" value="Volver" onClick="location = '/'"/>
  </div>
  <script>
    document.forms[0].answer.focus();
  </script>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><input type="button" value="Crear Comentario"/></a></p>

<p>Comentarios</p>
<% for(index in quiz.Comments) { %>
  <% if (session.user || quiz.Comments[index].publicado) { %>
    <p>- <%= quiz.Comments[index].texto %></p>
      <% if (session.user && !quiz.Comments[index].publicado) { %>
        <form action='/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id %>/publish?_method=put' method="post">
        <p><button type="submit">Publicar</button></p>
      <% } %>
  <% } %>
<% } %>
