<p>Número de preguntas: <%= statistics.numQuizes %></p>
<p>Número de comentarios totales: <%= statistics.numComments %></p>
<p>Número medio de comentarios por pregunta: <%= statistics.numCommentsByQuiz %></p>
<p>Número de preguntas sin comentarios: <%= statistics.numQuizesWithoutComments %></p>
<p>Número de preguntas con comentarios: <%= statistics.numQuizesWithComments %></p>
